<div class="bem-infinito-interna">
  <div class="title">Usar este item</div>
  <div>
    <img class="produto" src="<%= (imgproduto ? imgproduto : '/imagens/omo-1kg.jpg') %>">
  </div>
  <div class="buttons">
    <div class="acoes">
      <input type="button" class="nR" onclick="BemInfinito.Doacao.add(-1, '<%= imgproduto%>')" value="-">
      <input type="text" class="nI" id="quantidade" value="0">
      <input type="button" class="nA" onclick="BemInfinito.Doacao.add(+1, '<%= imgproduto%>')" value="+">
      <input type="button" class="send" onclick="BemInfinito.Doacao.enviar()" value="Fechar">
    </div>
    <img class="logo" src="http://beminfinito-widget.herokuapp.com/imagens/beminfinito.png">
  </div>
</div>