<link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
<div class="bem-infinito-add-item">
  <div class="container">
    <div class="title">Usar este item</div>
    <div>
      <img src="/imagens/headshot.png">
    </div>
    <div class="buttons">
      <input type="button" class="nR" value="-">
      <input type="text" class="nI" value="1">
      <input type="button" class="nA" value="+">
      <input type="button" class="send" value="Enviar">
      <img src="../imagens/beminfinito.png">
    </div>
  </div>
</div>