<link rel="stylesheet" type="text/css" href="/stylesheets/interna.css" />
<div class="bem-infinito-interna obrigado">
  <div class="title">Obrigado por doar <%= quantidade %> produto</div>
  <div>
    <img class="produto" src="<%= (imgproduto ? imgproduto : '/imagens/omo-1kg.jpg') %>">
  </div>
  <div class="agradecimentos">
    O bem infinito e o Graacc agradece sua colaboração
  </div>
  <div class="logos">
    <img class="logo" src="https://www.graacc.org.br/img/logo_GRAACC.gif">
    <img class="logo" src="/imagens/beminfinito.png">
  </div>
</div>