/*###############################################################################
            RESET
###############################################################################*/

html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

#widgetBem{
  position: relative;
  float: left;
  padding: 10px 20px;
  border: 2px solid #fff;
  font: bold 14px/20px sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  box-shadow: 0 0 10px #69a61e;
  display: none;
  background-color: #fff;
}

.bem-infinito-add-fechar{
  color: #4E8808;
  font-weight: bold;
  font-size: 16px;
}

.bem-infinito-add-item:after,
.bem-infinito-add-item:before{
  position: absolute;
  top: 100%;
  left: 50%;
  border-style: solid;
  width: 0; 
  height: 0; 
  content:'';
}

.bem-infinito-add-item:after {
  margin-left: -10px;
  border-width: 16px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
}
.bem-infinito-add-item:before {
  margin-left: -14px;
  border-width: 21px 14px 0 14px;
  border-color: #96E92F transparent transparent transparent;
  margin-top: 2px;
}












.bem-infinito-interna{
  width: 300px !important;
  height: 150px !important;
  text-align: center !important;
}


.bem-infinito-interna .nI{
  width: 40px !important;
  text-align: center!important;
}

.bem-infinito-interna.obrigado img{
  width: 80px !important;
}
.bem-infinito-interna .nR, .bem-infinito-interna .nA {
  cursor: pointer !important;
}

.produto{
  height: 80px !important;
  width: auto !important;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.bem-infinito-interna .send {
  cursor: pointer !important;
}
.bem-infinito-interna .title{
  margin-bottom: 10px !important;
  color: #4E8808 !important;
  font-weight: bold !important;
  font-size: 16px !important;
}
.bem-infinito-interna .buttons{
  width: 235px !important;
  clear: both !important;
  margin: auto !important;
}
.bem-infinito-interna .buttons .acoes{
  margin-top: 10px !important;
  float: left !important;
}
.bem-infinito-interna .buttons img.logo{
  width: 50px !important;
  margin-left: 10px !important;
  float: right !important;
  margin-top: 7px !important;
}
.bem-infinito-interna .logos img.logo{
  width: 60px !important;
}


